{% load staticfiles %}

<body id="page-top">

  {# Page Wrapper #}
  <div id="wrapper">

    {% include "includes/sidebar.html" %}

    {# Content Wrapper #}
    <div id="content-wrapper" class="d-flex flex-column">

      {% include "includes/content.html" %}
      
      {% include "includes/footer.html" %}
      
    </div>
    {# End of Content Wrapper #}

  </div>
  {# End of Page Wrapper #}

  {# Scroll to Top Button#}
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {# Logout Modal#}
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  {# Bootstrap core JavaScript#}
  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

  {# Core plugin JavaScript#}
  <script src="{% static "js/jquery.easing.min.js" %}"></script>

  {# Custom scripts for all pages#}
  <script src="{% static "js/sb-admin-2.min.js" %}"></script>

  {# Page level plugins #}
  <script src="{% static "js/Chart.min.js" %}"></script>

  {# Page level custom scripts #}
  <script src="{% static "js/chart-area-demo.js" %}"></script>

</body>

