
          {# Area Chart #}
          <div class="card border-0 shadow mb-4">
            <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
              {# Card Header Dropdown #}
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw mx-1 text-gray-400"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Dropdown Header:</div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
              </div>
            </div>
          </div>

          <div class="row align-items-stretch">
            <div class="col-lg-6 mb-4">

              {# Approach #}
              <div class="card border-0 shadow mb-4">
                <div class="card-header border-0 py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                </div>
                <div class="card-body">
                  <p>{{ mystuff }}</p>
                  <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
                  <p>Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes. Custom utility classes and components within this theme are explained in the documentation.</p>
                  <a href="#" class="btn btn-primary">View Documentation</a>
                </div>
              </div>

              {# Default Card Example #}
              <div class="card mb-4">
                <div class="card-header">
                  Default Card Example
                </div>
                <div class="card-body">
                  This card uses Bootstrap's default styling with no utility classes added. Global styles are the only things modifying the look and feel of this default card example.
                </div>
              </div>

              {# Basic Card Example #}
              <div class="card border-0 shadow mb-4">
                <div class="card-header border-0 py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
                </div>
                <div class="card-body">
                  The styling for this basic card example is determined by default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                </div>
              </div>

              {# Dropdown Card Example #}
              <div class="card border-0 shadow mb-4">
                <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Dropdown Card Example</h6>
                  {# Card Header Dropdown #}
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownCardExample" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw ml-1 text-gray-400"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in" aria-labelledby="dropdownCardExample">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  Dropdown menus can be placed in the card header in order to extend the functionality of a basic card. In this dropdown card example, the Font Awesome vertical ellipsis icon in the card header can be clicked on in order to toggle a dropdown menu.
                </div>
              </div>

              {# Collapsable Card Example #}
              <div class="card border-0 shadow mb-4">
                <a href="#collapseCardExample" class="d-block card-header border-0 py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <h6 class="m-0 font-weight-bold text-primary">Collapsable Card Example</h6>
                </a>
                <div class="collapse show" id="collapseCardExample">
                  <div class="card-body">
                    This is a collapsable card example using Bootstrap's built in collapse functionality. Click on the card header to see the card body collapse and expand!
                  </div>
                </div>
              </div>

              {# Dropdown Card Example #}
              <div class="card border-0 shadow mb-4">
                <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Dropdown Card Example</h6>
                  {# Card Header Dropdown #}
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownCardExample" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-angle-right fa-fw ml-1 text-gray-400"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in" aria-labelledby="dropdownCardExample">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  Dropdown menus can be placed in the card header in order to extend the functionality of a basic card. In this dropdown card example, the Font Awesome vertical ellipsis icon in the card header can be clicked on in order to toggle a dropdown menu.
                </div>
              </div>

              {# Grayscale #}
              <div class="card border-0 shadow mb-4">
                <div class="card-header border-0 py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Grayscale</h6>
                </div>
                <div class="card-body">
                  <div class="card bg-gray-100 border-0 rounded-0">
                    <div class="card-body">
                      Gray 100
                    </div>
                  </div>

                  <div class="card bg-gray-200 border-0 rounded-0">
                    <div class="card-body">
                      Gray 200
                    </div>
                  </div>

                  <div class="card bg-gray-300 border-0 rounded-0">
                    <div class="card-body">
                      Gray 300
                    </div>
                  </div>

                  <div class="card bg-gray-400 border-0 rounded-0">
                    <div class="card-body">
                      Gray 400
                    </div>
                  </div>

                  <div class="card bg-gray-500 border-0 rounded-0 text-white">
                    <div class="card-body">
                      Gray 500
                    </div>
                  </div>

                  <div class="card bg-gray-600 border-0 rounded-0 text-white">
                    <div class="card-body">
                      Gray 600
                    </div>
                  </div>

                  <div class="card bg-gray-700 border-0 rounded-0 text-white">
                    <div class="card-body">
                      Gray 700
                    </div>
                  </div>

                  <div class="card bg-gray-800 border-0 rounded-0 text-white">
                    <div class="card-body">
                      Gray 800
                    </div>
                  </div>

                  <div class="card bg-gray-900 border-0 rounded-0 text-white">
                    <div class="card-body">
                      Gray 900
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-6 mb-4">

              <div class="row">
                <div class="col-lg-6 mb-4">
                  <div class="card border-0 bg-primary text-white shadow">
                    <div class="card-body">
                      Primary
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card border-0 bg-success text-white shadow">
                    <div class="card-body">
                      Success
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card border-0 bg-info text-white shadow">
                    <div class="card-body">
                      Info
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card border-0 bg-warning text-white shadow">
                    <div class="card-body">
                      Warning
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card border-0 bg-danger text-white shadow">
                    <div class="card-body">
                      Danger
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card border-0 bg-secondary text-white shadow">
                    <div class="card-body">
                      Secondary
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>


           <div class="accordion" id="accordionExample">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Collapsible Group Item #1
              </button>
            </h5>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              1 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Collapsible Group Item #2
              </button>
            </h5>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              2 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Collapsible Group Item #3
              </button>
            </h5>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              3 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div> 


