
        
        <form action="/registration/" method="post">
        {% csrf_token %}

        <table>
        {{ form }}
        </table>

        <input type="submit" value="Submit" />
        </form>

