
        
        <form action="/ajax_pqc/" id="pqc_demo_form" method="post">
        {% csrf_token %}

        <table>
        {{ form }}
        </table>

        <input type="button" class="btn btn-primary" value="Generate Keypair" id="pqc_gen_btn">
        <input type="button" class="btn btn-primary" value="Encrypt" id="pqc_enc_btn">
        <input type="button" class="btn btn-primary" value="Decrypt" id="pqc_dec_btn">
        
        </form>

        
