{% load staticfiles %}


          <div class="row align-items-stretch">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">

              {# Approach #}
              <div class="card border-0 shadow mb-4">
                <div class="card-header border-0 py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Steven Foerster, BSEE, MSCS</h6>
                </div>
                <div class="card-body">
                  
                  <div class="container image-container p-2 col-sm-4">
                    <img class="img-fluid rounded-circle right-block" src="{% static "graphics/972116_10152094531069045_278150555_n.jpg" %}" alt="" />
                  </div>
                  
                  <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
                  <p>Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes. Custom utility classes and components within this theme are explained in the documentation.</p>
                  <a href="#" class="btn btn-primary">View Documentation</a>
                </div>
              </div>

              {# Default Card Example #}
              <div class="card border-0 shadow mb-4">
                <div class="card-header border-0 py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Education</h6>
                </div>
                <div class="card-body">
                 
                 <ul>
                   <div class="row align-items-stretch">
                     <div class="col-col-sm-2">
                        <li><strong>Master of Science in Computer Science</strong>
                            <br /><div class="lp-0">Georgia Institute of Technology, Atlanta, GA</div></li>
                     </div>
                     <div class="container image-container p-2 col-sm-2">
                       <img class="img-fluid rounded-circle right-block" src="{% static "graphics/gt.jpg" %}" alt="" />
                     </div>
                   </div>
                   
                   <div class="row align-items-stretch">
                     <div class="col-col-sm-2">
                        <li><strong>Bachelor of Science in Electrical Engineering</strong>
                            <br /><div class="lp-0">Brigham Young University, Provo, UT</div></li>
                     </div>
                     <div class="container image-container p-2 col-sm-2">
                       <img class="img-fluid rounded-circle right-block" src="{% static "graphics/byu.jpg" %}" alt="" />
                     </div>
                   </div>

                 </ul>
                  This card uses Bootstrap's default styling with no utility classes added. Global styles are the only things modifying the look and feel of this default card example.
                </div>
              </div>

              {# Basic Card Example #}
              <div class="card border-0 shadow mb-4">
                <div class="card-header border-0 py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Work History</h6>
                </div>
                <div class="card-body">
                  The styling for this basic card example is determined by default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                </div>
              </div>
            
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">

              {# Dropdown Card Example #}
              <div class="card border-0 shadow mb-4">
                <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Dropdown Card Example</h6>
                  {# Card Header Dropdown #}
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownCardExample" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw ml-1 text-gray-400"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in" aria-labelledby="dropdownCardExample">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  Dropdown menus can be placed in the card header in order to extend the functionality of a basic card. In this dropdown card example, the Font Awesome vertical ellipsis icon in the card header can be clicked on in order to toggle a dropdown menu.
                </div>
              </div>

              {# Collapsable Card Example #}
              <div class="card border-0 shadow mb-4">
                <a href="#collapseCardExample" class="d-block card-header border-0 py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <h6 class="m-0 font-weight-bold text-primary">Collapsable Card Example</h6>
                </a>
                <div class="collapse show" id="collapseCardExample">
                  <div class="card-body">
                    This is a collapsable card example using Bootstrap's built in collapse functionality. Click on the card header to see the card body collapse and expand!
                  </div>
                </div>
              </div>

              {# Dropdown Card Example #}
              <div class="card border-0 shadow mb-4">
                <div class="card-header border-0 py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Dropdown Card Example</h6>
                  {# Card Header Dropdown #}
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownCardExample" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-angle-right fa-fw ml-1 text-gray-400"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in" aria-labelledby="dropdownCardExample">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  Dropdown menus can be placed in the card header in order to extend the functionality of a basic card. In this dropdown card example, the Font Awesome vertical ellipsis icon in the card header can be clicked on in order to toggle a dropdown menu.
                </div>
              </div>


            </div>
          </div>


           <div class="accordion" id="accordionExample">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Collapsible Group Item #1
              </button>
            </h5>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              1 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Collapsible Group Item #2
              </button>
            </h5>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              2 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Collapsible Group Item #3
              </button>
            </h5>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              3 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div> 


