

    {# Sidebar #}
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      {# Sidebar - Brand #}
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
          <i class="fas fa-tree"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Steven Foerster</div>
      </a>

      {# Divider #}
      <hr class="sidebar-divider my-0">

      {# Dashboards Accordion Menu #}
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Projects</span>
        </a>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Project Examples</h6>
            <a class="collapse-item" href="/pqc/"><strong>Post-Quantum Cryptography</strong><br /> NTRU chat</a>
            <a class="collapse-item" href="#"><strong>Computer Vision</strong><br /> Mosaic</a>
            <a class="collapse-item" href="#"><strong>Cluster Computing</strong><br /> AsyncIO and Celery</a>
          </div>
        </div>
      </li>

      {# Divider #}
      <hr class="sidebar-divider">

     {% comment %}

     {# Heading #}
      <div class="sidebar-heading">
        Components
      </div>

      {# Nav Item - Pages Collapse Menu #}
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-folder"></i>
          <span>Pages</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Login Screens:</h6>
            <a class="collapse-item" href="login.html">Login</a>
            <a class="collapse-item" href="register.html">Register</a>
            <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Other Pages:</h6>
            <a class="collapse-item" href="404.html">404 Page</a>
            <a class="collapse-item" href="blank.html">Blank Page</a>
          </div>
        </div>
      </li>

      {# Divider #}
      <hr class="sidebar-divider"> 

      {% endcomment %}

      {# Heading #}
      <div class="sidebar-heading">
        Additional
      </div>

      {# Nav Item - Charts #}
      <li class="nav-item">
        <a class="nav-link" href="about/">
          <i class="fas fa-fw fa-smile"></i>
          <span>About Me</span></a>
      </li>

    {% comment %}
    
      {# Nav Item - Tables #}
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li>

    {% endcomment %}

      {# Divider #}
      <hr class="sidebar-divider d-none d-md-block">

      {# Sidebar Toggler (Sidebar) #}
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    {# End of Sidebar #}

